@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

/* taskCreator styles */
.btn-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-container button{
    color: white;
    border: 0.85px solid black;
}

/* taskBanner styles */
.banner-text{
    
    background-color: #0e52c2;
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;

}
.fas-circle-doIt{
    color: green;
}

.fas-circle-notDoIt{
    color: red;
}
/* taskCreator styles */
.newTask-container-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* App styles */

.table{
    background-color: rgba(33, 33, 33, 0.95);
}

.table tr{
    color: white;
}

.table .tBody-doIt{
    background-color: green;
}

.table .tBody-notDoIt{
    background-color: red;
}


/* Hovers */
.add-btn:hover{
    
    background-color:rgba(61, 135, 255, 0.75);
    transition: all .2s;
}